/bin/ export-ignore
/CHANGELOG.md export-ignore
/CONTRIBUTING.md export-ignore
/.editorconfig export-ignore
/.gitattributes export-ignore
/git-hooks/ export-ignore
/.github/ export-ignore
/.gitignore export-ignore
/.php-cs-fixer.php export-ignore
/phpstan.neon export-ignore
/phpunit.xml export-ignore
/tests/ export-ignore
/UPGRADE.md export-ignore
